 input{
  file{
    path=>"C:/Melkamu/nyc_call3.csv"
    start_position => "beginning"
    sincedb_path => "null"
  }
}

filter{
  csv{
    separator => ","

    skip_header => true

    columns => ["Unique Key","Created Date","Closed Date","Agency","Agency Name","Complaint Type","Descriptor","Location Type",
"Incident Zip","Incident Address","Street Name","Cross Street 1","Cross Street 2","Intersection Street 1","Intersection Street 2",
"Address Type","City","Landmark","Facility Type","Status","Due Date","Resolution Description","Resolution Action Updated Date",
"Community Board","BBL","Borough","X Coordinate (State Plane)","Y Coordinate (State Plane)","Open Data Channel Type",
"Park Facility Name","Park Borough","Vehicle Type","Taxi Company Borough","Taxi Pick Up Location","Bridge Highway Name",
"Bridge Highway Direction","Road Ramp","Bridge Highway Segment","Latitude","Longitude","Location"]
  }

  mutate {uppercase => ["City"] }
  mutate {convert => ["X Coordinate (State Plane)", "integer"]}
  mutate {convert => ["Y Coordinate (State Plane)", "integer"]}
  mutate {convert => ["Latitude", "float"]}
  mutate {convert => ["Longitude", "float"]}

  mutate {replace => {"Location" => "%{Latitude},%{Longitude}"}}

  # Set Location to [0.0,0.0] for records with null value for Latitude/Longitude
  if [Latitude] == "" or [Longitude] == "" or [Location] == "" or [Location] == "%{Latitude},%{Longitude}" {
    mutate {replace => {"Location" => "0.0,0.0"}}
  }

  date {
    timezone => "US/Eastern"
    match => [ "Created Date", "MM/dd/yyyy hh:mm:ss aa" ]
    target => "@timestamp"
  }
  date {
    timezone => "US/Eastern"
    match => [ "Created Date", "MM/dd/yyyy hh:mm:ss aa" ]
    target => "Created Date"
  }
  date {
    timezone => "US/Eastern"
    match => [ "Closed Date", "MM/dd/yyyy hh:mm:ss aa" ]
    target => "Closed Date"
  }

  if [Status] == "Closed" {
    ruby {
      init => "require 'time'"
      code => "duration = ( (event.get('Closed Date') - event.get('Created Date')) / (3600 * 24) ) rescue nil; event.set('Duration (in Days)', duration); "
    }
  }

}

output{
  elasticsearch{
    hosts =>"localhost"
    index=>"nyc_call3"
#   document_type=>"_doc"
  }
 stdout{codec=> dots}
}
